.w-100 {
	width: 100%;
}
.login-container {
	margin-top: 5%;
	margin-bottom: 5%;
}

.btnSubmit {
	font-weight: 600;
	width: 50%;
	color: #282726;
	background-color: #fff;
	border: none;
	border-radius: 1.5rem;
	padding: 2%;
}
.btnForgetPwd {
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}
.btnForgetPwd:hover {
	text-decoration: none;
	color: #fff;
}

.login-form form .show-pass {
	position: relative;
}
.login-form form .mb-3.show-pass span svg {
	position: absolute;
	right: 3%;
	top: 55%;
}

.account-btn p a:hover {
	text-decoration: underline;
}
